html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
  background-color: #f4f6f9;
  font-family: 'Segoe UI', sans-serif;
}

.card {
  border-radius: .3rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

input, button {
  border-radius: 0.5rem !important;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 40px;
  padding: 10px 0;
  z-index: 999;
  text-align: center;
  word-wrap: break-word;
}